@font-face {
    font-family: Ourobouros;
    src: url("./fonts/Ouroboros-Regular.otf");
}
.textgalaxie {
    margin-top:225px;
}
.textgalaxie p {
    color: white;
    text-align: left; /* Aligne le texte à gauche */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.textgalaxie h1 {
    color: white;
    text-align: left; /* Aligne le texte à gauche */
    font-family: Ourobouros;
    font-size: 86px;
}

footer {
    color: white;
}

footer h3 {
    font-size: 30px;
    font-family: Ourobouros;
    margin: 0;
    padding-top : 100px;

}

footer h4 {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding-top: 25px;
}

footer p {
    color: white;
    text-align: left; /* Aligne le texte à gauche */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding-top: 5px;

}

.ican  {
    justify-content: right;
    justify-items: right;
    padding-top: 60px;
}
.ican p {
    font-size: 12px;
}

.nom {
    padding-top: 0;
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(4, 175px);
    grid-template-rows: 0;
    grid-column-gap: 50px;
    grid-row-gap: 0px;
    justify-items: center;
    justify-content: center;
    }
    
    .enzo { 
        grid-area: 1 / 1 / 2 / 2; 
        justify-items: center;
    }
    .gabriela { 
        grid-area: 1 / 2 / 2 / 3; 
        justify-items: center;
    }
    .meysem { 
        grid-area: 1 / 3 / 2 / 4;
        justify-items: center;
    }
    .maina { 
        grid-area: 1 / 4 / 2 / 5; 
        justify-items: center;
    }