@font-face {
    font-family: Ourobouros;
    src: url("./fonts/Ouroboros-Regular.otf");
}
.textgalaxie {
    margin-top:225px;
}
.textgalaxie p {
    color: white;
    text-align: left; /* Aligne le texte à gauche */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.textgalaxie h1 {
    color: white;
    text-align: left; /* Aligne le texte à gauche */
    font-family: Ourobouros;
    font-size: 86px;
}

footer {
    color: white;
}

footer h3 {
    font-size: 30px;
    font-family: Ourobouros;
    margin: 0;
    padding-top : 100px;

}

footer h4 {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding-top: 25px;
}

footer p {
    color: white;
    text-align: left; /* Aligne le texte à gauche */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding-top: 30px;

}

#retour {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	display: grid;
	place-items: center;
	background: rgb(226, 193, 249);
	background: radial-gradient(
		circle,
		rgba(226, 193, 249, 1) 0%,
		rgba(240, 255, 250, 1) 25%,
		rgba(251, 255, 228, 1) 50%,
		rgba(254, 218, 251, 1) 75%,
		rgba(226, 193, 249, 1) 100%
	);
	position: fixed;
    top: 6%;
    left: 3%;
    opacity: 100%;
}

#retour a {
	/*Ouroboros*/
    font-family: Ouroboros;
	font-size: 14px;
	text-decoration: none;
	color: #000000;
}
